<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-6 col-md-10">
      <h1>在庫管理機能の設定</h1>
      <%= form_for(@account, {url: stocks_setup_path, method: 'post'}) do |f| %>
        <p class="lead">MWSアカウントの設定</p>
        <div class="form-group">
          <%= f.label :seller_id, "セラーID" %>
          <%= f.text_field :seller_id, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :aws_token, "MWS認証トークン" %>
          <%= f.text_field :aws_token, class: 'form-control'  %>
        </div>
        <p class="lead">在庫チェック時の出品設定</p>
        <fieldset class="form-group">
        <div class="form-check">
          <label class="form-check-label">
            <%= f.radio_button 'relist_only', 'false', {class: 'form-check-input'}  %>
            再出品・取下げのどちらも有効
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <%= f.radio_button 'relist_only', 'true', {class: 'form-check-input'}  %>
            再出品のみ有効
          </label>
        </div>
        </fieldset>
        <p class="lead">オークションID期限切れ時の設定</p>
        <fieldset class="form-group">
        <div class="form-check">
          <label class="form-check-label">
            <%= f.radio_button 'delete_sku', 'true', {class: 'form-check-input'}  %>
            アマゾンからSKUごと削除
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <%= f.radio_button 'delete_sku', 'false', {class: 'form-check-input'}  %>
            出品取り下げのみ
          </label>
        </div>
        </fieldset>
        <p class="lead">在庫改定時の設定</p>
        <div class="form-group">
          <%= f.label :leadtime, "リードタイム" %>
          <%= f.text_field :leadtime, class: 'form-control'  %>
        </div>
        <br>
        <p class="lead">チャットワーク連携設定</p>
        <div class="form-group">
          <%= f.label :cw_api_token, "APIトークン" %>
          <%= f.text_field :cw_api_token, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :cw_room_id, "ルームID" %>
          <%= f.text_field :cw_room_id, class: 'form-control'  %>
        </div>
        <%= f.hidden_field :sku_limit, value: 50000 %>
        <div class="actions">
          <%= f.submit "設定する", {id: "setup_btn", onClick: 'alert("更新しました")'} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
